- var appStatus = app.running == "true";
- var appAction = appStatus ? "stop" : "start";
- var appParams = "appname=" + appname + "&running=" + (appStatus ? "false" : "true");
- var appdomain = appStatus ? "sampledomain.com" : appname+".nodester.com";

.page#app
  div.headline
    h2 About #{appname}
    ul.actions
      li
        a(href:"/apps"+ appname +"/"+ appAction,"data-params":appParams,rel:"put",class:"button yellowgrad r5", title:  appAction+" the app") #{appAction}
      li
        a(href:"/apps"+ appname +"/restart","data-params":"appname=" + appname + "&running=restart",rel:"put",class:"button yellowgrad r5", title: "restart the app") restart
      li
        a(href:"/apps/"+ appname +"/edit",class:"button bluegrad r5", title: "edit app properties") edit
  section(class:"app-listing r10")
    h4#appdomain url: 
      a(href:'http://'+appdomain, target:'_blank', title:'Go to the app') #{appdomain}
    hgroup
      ul(class:"properties")
        li ID: #{app.pid}
        li Port: #{app.port}
    div.git
      p(class:"button bluegrad r5", title:"copy to clipboard") git
      input(type:"text", value: app.gitrepo, readonly:"readonly")